**/node_modules/**
node_modules/
onnx_model/
models/
data/
open_vino_modelfp16/
pulbic/
.env
agents/duck/chroma_data/

.obsidian/
!vault-config/.obsidian/

.vscode/

/node_modules/__pycache__/
**/__pycache__/

/node_modules/
agents/duck/.tokens
