[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
openvino = "*"
transformers = "*"
openvino-dev = "*"
sentence-transformers = "*"
onnx = "*"
onnxruntime = "*"
accelerate = "*"
numpy = "*"
scipy = "*"
soundfile = "*"
inflect = "*"
torchaudio = "*"
omegaconf = "*"
matplotlib = "*"
python-dotenv = "*"
ffmpeg = "*"
pynacl = "*"
ollama = "*"
flask = "*"
gunicorn = "*"
aiohttp = "*"
waitress = "*"
uvicorn = "*"
asgiref = "*"
pyctcdecode = "*"
kagglehub = "*"
flask-cors = "*"
"discord.py" = {extras = ["dev", "voice"], version = "*"}
discord-ext-voice-recv = "*"
chromadb = "*"
fastapi = "*"
python-multipart = "*"
espnet-model-zoo = "*"
pydantic = "*"
torchvision = "*"
librosa = "*"
unidecode = "*"
tensorboard = "*"
phonemizer = "*"
g2p-en = "*"
nltk = "*"
whisper = "*"
openai-whisper = "*"
websockets = "*"

[dev-packages]
pytest = "*"
pytest-cov = "*"
flake8 = "*"
black = "*"

[requires]
python_version = "3.12"
