[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
librosa = "*"
numpy = "*"
scipy = "*"
openvino-dev = "*"
openvino = "*"
onnx = "*"
onnxruntime = "*"
accelerate = "*"
nltk = "*"
matplotlib = "*"
transformers = "*"

[dev-packages]
pytest = "*"

[requires]
python_version = "3.11"
