[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
fastapi = "*"
transformers = "*"
torch = "*"
numpy = "*"
uvicorn = "*"
torchaudio = "*"

[dev-packages]
pytest = "*"
pytest-cov = "*"
flake8 = "*"
black = "*"
httpx = "*"

[requires]
python_version = "3.12"
